.root {
    @apply w-[265px];

    .AccordionTrigger {
        @apply text-lg font-medium no-underline;
    }

    .AccordionContent {
        @apply flex flex-col items-start gap-4;

        .input {
            @apply relative;

            input {
                @apply bg-gray-200/50 outline-none px-4 py-2 rounded-lg pl-7 w-full;
            }

            .icon {
                @apply absolute top-[10px] left-[7px] text-base;
            }

            .close {
                @apply absolute right-[7px] top-[9px] text-lg cursor-pointer;
            }
        }

        .Checkbox {
            @apply flex flex-col items-start gap-2;

            div {
                @apply flex gap-2 items-center;
            }
        }
    }

    .input {
        @apply flex flex-col gap-5;

        .FromTo {
            @apply flex justify-between items-center;

            .fromToWrapp {
                @apply flex flex-col gap-2;

                p {
                    @apply border border-black/20 p-2 flex w-[106px];
                }
            }
        }

        .wrappInput {

            @apply flex bg-black rounded-full;
        }

        input[type="range"] {
            width: 100%;
            height: 4px;
            -webkit-appearance: none;
            appearance: none;
            background: #000000;
            border-radius: 5px;
            outline: none;
            padding: 0;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            background: #000000;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}